/* 
Theme Name: Brafe
Theme URI: www.brafe.com
Author: IN Junior
Author URI: www.injunior.com
Description: Esse tema foi criado para a aula do ps 2020.2
Version: 1.0
*/


/* HEADER */

header{
  position: fixed;
  background-color: rgb(59, 57, 57);
  height: 50px; width: -webkit-fill-available;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#hdr{
  height: 50px;
}
#hdr-esq a{
  font-family: Georgia, serif;
  color: #fafafa;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bolder;
  margin-left: 15px;
}
#hdr-dir a{
  margin: 0px 5px;
  font-family: Georgia, serif;
  color: #fafafa;
  text-decoration: none;
  font-size: 0.8rem;
  margin-right: 15px;
  position: relative;
}
#hdr-dir a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: #fafafa;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#hdr-dir a:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* TEXTO 1 */

div#bck-txt-1{
  min-height: 450px;  
  min-width: 800px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#txt-1{
  text-align: center;
}
div#txt-1 h1{
  width: 353px;
  font-family: Georgia, serif;
  color: #fafafa;
  font-size: 2.3rem;
}
div#txt-1 p{
  font-family: Georgia, serif;
  color: #fafafa;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 30px;
}

/* TEXTO 2 */

div#bck-txt-1{
  min-height: 450px;
  background-color: #fafafa;
}
div#txt-2{
  display: flex;
  flex-direction: column;
  text-align: center;
}
div#dv-img-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 350px;
  margin: 0px auto;
  box-sizing: content-box;
}
#txt-2 h1{
  margin: 30px 0px;
  font-family: Georgia, serif;
  color: rgb(59, 57, 57);
  font-size: 2.3rem;
}
#dv-img-txt-1{
  margin: 0px 5px;
  position: relative;
}
#txt-2 #dv-img-txt-1 div{
  background-color: rgb(59, 57, 57);
  width: 150px;
  height: 30px;
  position: absolute;
  top: 115px;
  right: 150px;
}
#txt-2 #dv-img-txt-1 div p{
  font-family: Georgia, serif;
  color: #fafafa;
  font-size: 1.rem;
  font-style: italic;
  padding: 5px;
}
#dv-img-txt-2{
  margin: 0px 5px;
  position: relative;
}
#txt-2 #dv-img-txt-2 div{
  background-color: rgb(59, 57, 57);
  width: 150px;
  height: 30px;
  position: absolute;
  top: 115px;
  right: 150px;
}
#txt-2 #dv-img-txt-2 div p{
  font-family: Georgia, serif;
  color: #fafafa;
  font-size: 1.rem;
  font-style: italic;
  padding: 5px;
}
#dv-img-txt-1 img{
  max-width: 300px;
  max-height: 130px;
}
#dv-img-txt-2 img{
  max-width: 300px;
  max-height: 130px;
}
#txt-p-1{
  margin: 45px auto;
  max-width: 550px;
  font-family: Georgia, serif;
  color: rgb(59, 57, 57);
  font-size: 1.3rem;
  font-style: italic;
}

/* TEXTO 3 */

#bck-txt-3{
  min-height: 450px;
  background-color: #8f8b8b;
  text-align: center;
}
#txt-3-1{
  display: flex;
  padding-top: 70px;
  min-height: 240px;
}
#cf-tp-1{
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
  align-items: center;
}
#cf-tp-2{
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
  align-items: center;
}
#cf-tp-3{
  display: flex;
  flex-direction: column;
  margin: 0px 15px;
  align-items: center;
}
#bola-marron{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: brown;
  border-style: none;
  margin: 15px;
}
#bola-laranja{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: orange;
  border-style: none;
  margin: 15px;
}
#bola-amarelo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: yellow;
  border-style: none;
  margin: 15px;
}
@keyframes bolas {
  from {
    width: 0%;
    height: 0%;
  }
  to {
    width: 70px;
    height: 70px;
  }
}
.bola{
  animation-name: bolas;
  animation-duration: 5s;
}
#txt-3-1 h1{
  color: black;
  font-family: Georgia, serif;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-weight: bolder;
}
#txt-3-1 p{
  color: black;
  font-family: Georgia, serif;
  font-size: 0.8rem;
  margin-bottom: 15px;
  text-align: left;
  line-height: 1.3rem;
}
#txt-3-2{
  display: flex;  
  justify-content: center;
  font-weight: bolder;
}
.btn-1{
  margin-top: 10px;
  height: 50px;
  width: 155px;
  border-color: black;
  border-width: 2.3px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, serif;
  font-weight: bolder;
}
.btn-1:hover{
  margin-top: 10px;
  height: 50px;
  width: 155px;
  border-color: black;
  border-width: 2.3px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Georgia, serif;
  font-weight: bolder;
  cursor: pointer;
  color: #fafafa;
  background-color: black;
}

/* TEXTO 4 */

#bck-txt-4{
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
}
.pdr-img-txt-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 10px;
}
.pdr-img-txt-1 img{
  width: 330px;
  margin-right: 20px;
}
.pdr-img-txt-1 .img-txt-1{
  margin-left: 20px;
  max-width: 330px;
  padding: 5px 0px;
  font-family: Georgia, serif;
}
.pdr-img-txt-1 .img-txt-1 h1{
  font-size: 1.6rem;
  font-weight: bolder;
  margin-bottom: 10px;
}
.pdr-img-txt-1 .img-txt-1 p1{
  font-size: 0.8rem;
  margin-bottom: 15px;
  line-height: 1.3rem;
}

/* TEXTO 5 */

#cnt-eml-1{
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: rgb(187, 187, 187);
  justify-content: center;
  align-items: center;
  font-family: Georgia, serif;
  color: black;
}
#cnt-eml-1 h1{
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 5px;
}
#cnt-eml-1 p{
  font-size: 0.8rem;
  font-style: italic;
}
.eml-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Georgia, serif;
}
.eml-1 input{
  width: 200px; height: 26px;
  margin-left: 20px;
  border: 2px solid black;
}
.eml-1 input::-webkit-input-placeholder{
  width: 100%;
  height: 100%;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 1.2rem;
  background-color: rgb(187, 187, 187);
}
input[type="text" i] {
  padding: 0px 0px;
}
.btn-2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 65px;
  cursor: pointer;
}
.btn-env-1{
  color: #fafafa;
  font-family: Georgia, serif;
  font-weight: bolder;
  font-size: 1.0rem;
}

/* FOOTER */

.ftr{
  height: 100px;
  background-color: rgb(187, 187, 187);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Georgia, serif;
}
.ftr #ftr-1{
  font-size: 0.8rem;
  margin-left: 15px;
  line-height: 1.2rem;
}
.ftr #ftr-2{
  font-size: 1.8rem;
  margin-right: 15px;
  color: #fafafa;
  font-weight: bolder;
}
h1.tst{
  font-size: 4.5rem;
}

/* Portifolio POST Noticias */
#pg-portfolio {
  padding: 10px;
  border: 2px solid black;
  font-size: 1.8rem;
  margin: 5px 30px;
}
#pg-portfolio h2{
  font-size: 3.6rem;
  font-weight: 600;
}
#pg-portfolio p{
  margin: 10px 0px;
  line-height: 1.5;
  font-size: 1.8rem;
}
#pg-portfolio ul{
  margin: 10px 0px;
  line-height: 1.5;
  font-size: 1.8rem;
}
#menu-post{
  text-align: center;
  font-size: 2.4rem;
  margin: 0 auto;
  padding: 20px 0px;
}